/* -- HEADER STYLING (header.scss): -- */

.header {
  padding: 10px;

  nav {
    display: flex;
    gap: 15px;
    justify-content: center;

    /* =========================
       NAVIGATION LINKS
    ========================= */
    li {
      list-style: none;

      a {
        color: gray;
        font-size: 1.8em;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: white;
        }

        &.active {
          // Navigation link leading to the current page.
          color: #007bff;
        }
      }
    }
  }
}