<!-- header.html: -->

<div class="header">
  <!-- https://angular.dev/api/router/RouterLinkActive#description: Usage of routerLinkActiveOptions -->
  <nav>
    <li>
      <a title="Go to main page." routerLink="/films" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <span>Home</span>
      </a>
    </li>
    <li>
      <a title="Add / edit (details of) a film." routerLink="/modify" routerLinkActive="active">
        <span>Modify List</span>
      </a>
    </li>
  </nav>
</div>