/* -- PAGE-NOT-FOUND STYLING (page-not-found.scss): -- */

.not-found {
  background-color: saddlebrown;
  color: white;
  text-align: center;
  margin-top: 50px;

  a {
    color: lightblue;
    text-decoration: underline;
  }
}
