/* -- COMPONENT-LEVEL STYLING (app.scss): -- */

.container {
  background-image: url("../assets/bg-img.jpeg"); // #b222
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}