<!-- film-details.html: -->

<div>
  <h2>Film Details:</h2>
  @if (film) {
  <div class="film-card">
    <!-- Title, Year Released, and Image -->
    <h3>{{ film.title }} ({{ film.yearReleased }})</h3>
    <img class="game-image" [src]="film.image_url" [alt]="film.title + ' (' + film.yearReleased + ')'" [title]="film.title + ' (' + film.yearReleased + ')'
         + '.\n\nStarring: ' + film.starring.split(', ').slice(0, 5).join(', ')" /><br><br>

    <!-- ID & Type -->
    <div class="meta-row">
      <p><span class="label-name">ID:</span>{{ film.id }}</p>
      <p><span class="label-name">Type:</span>{{ film.type }}</p>
    </div><br>

    <!-- Description & Genre(s) -->
    <p><span class="description label-name">Description:</span>{{ film.description }}</p><br>
    <p><span class="label-name">Genre(s):</span>{{ film.genre }}</p><br>

    <!-- Sequence in Franchise or Season(s), Total Episodes, and Ratings-->
    <div class="meta-row">
      @if (film.movie_sequence) {
      <p><span class="label-name">Sequence in Franchise:</span>{{ film.movie_sequence }}</p>
      }

      @if (film.seasons) {
      <p><span class="label-name"># of Seasons:</span>{{ film.seasons }}</p>
      }

      @if (film.total_episodes) {
      <p><span class="label-name">Total Episodes:</span>{{ film.total_episodes }}</p>
      }

      @if (film.mpaa_rating) {
      <p><span class="label-name">MPAA Rating:</span>{{ film.mpaa_rating }}</p>
      }

      @if (film.tv_rating) {
      <p><span class="label-name">TV Rating:</span>{{ film.tv_rating }}</p>
      }

      <p><span class="label-name">Watch Rating:</span>{{ film.viewer_rating }} / 5</p>
    </div><br>

    <!-- Streaming, Producer(s), Director(s), and Writer(s) -->
    <p><span class="label-name">Streaming:</span>{{ film.streaming }}</p><br>
    <p><span class="label-name">Producer(s):</span>{{ film.producer }}</p><br>
    <p><span class="label-name">Director(s):</span>{{ film.director }}</p><br>
    <p><span class="label-name">Writer(s):</span>{{ film.writer }}</p><br>

    <!-- Based on & Creator(s) -->
    <div class="meta-row">
      @if (film.based_on) {
      <p><span class="label-name">Based on:</span>{{ film.based_on }}</p>
      }

      @if (film.creator) {
      <p><span class="label-name">Creator(s):</span>{{ film.creator }}</p>
      }
    </div><br>

    <!-- Starring & Notes -->
    <p><span class="label-name">Starring:</span>{{ film.starring }}</p><br>
    <p><span class="label-name notes">Notes:</span>{{ film.notes ? film.notes : 'N/A' }}</p><br><br>

    <!-- Status -->
    <p class="status-row">
      <span class="label-name">Status:</span>
      <span [ngClass]="{
        'status-not-started': Status === 'not-started',
        'status-watching': Status === 'watching',
        'status-finished': Status === 'finished'
        }">
        {{ statusLabel }}
      </span>
    </p>
  </div>
  }
</div>
