/* -- GLOBAL-LEVEL STYLING (styles.scss): -- */

:root {
  font-size: 62.5%; // 10px base
}

body {
  background-color: #000;
  color: white;
  margin: 0;
}

/* =========================
    GLOBAL TYPOGRAPHY
========================= */
h1 {
  color: yellow;
  font-size: 3.2em;
  text-align: center;
  padding: 15px;
  box-shadow: 0 15px 5px 0 #ff4500 inset;
}

h2 {
  font-size: 2.8em;
  text-align: center;
}

h3 {
  font-size: 2.4em;
}

p {
  font-size: 1.8em;
  line-height: 1.5;
}

h2,
h3,
p {
  color: white;
}

a {
  color: cyan;

  &:hover {
    color: #007bff;
    text-align: center;
  }
}

/* =========================
        SHARED UI
========================= */
.status-row {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  .label-name {
    font-weight: bold;
  }

  .status-finished,
  .status-not-started {
    font-weight: bold;
  }

  .status-not-started {
    color: orangered;
  }

  .status-watching {
    color: orange;
  }

  .status-finished {
    color: lightgreen;
  }
}

button {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  width: 145px;
  height: 40px;
  border: none;

  &.back-btn {
    background-color: blue;

    &:hover {
      background-color: darkblue;
    }
  }
}

/* =========================
      SHARED SECTIONS
========================= */
.film-card {
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.even {
    background-color: #2b2b2b;
  }

  &.odd {
    background-color: #1f1f1f;
  }

  img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    object-fit: cover;
  }
}

.header,
.footer {
  background-color: #333;
}